<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds">
	
    <!-- prevent per-message overhead for jul logging calls, e.g. Hornet -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	<File>classes/matomic.log</File>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <FileNamePattern>matomic.%i.log.zip</FileNamePattern>
            <MinIndex>1</MinIndex>
            <MaxIndex>4</MaxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>1MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="datomic.domain" level="INFO"/>
    <logger name="datomic.kv-cluster" level="INFO"/>
    <logger name="httpclient" level="INFO"/>
    <logger name="org.apache.commons.httpclient" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.jets3t" level="INFO"/>
    <logger name="com.amazonaws" level="INFO"/>
    <logger name="com.amazonaws.request" level="WARN"/>
    <logger name="sun.rmi" level="INFO"/>
    
    <root level="ALL">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>
